:root {
  --background-color: #ecf0f1;
  --transparent-background-color: #ecf0f1cc;
  --shadow-color: #7f8c8d;

  --white: #ffffff;
  --light-grey: #bdc3c7;
  --grey: #95a5a6;
  --dark-grey: #7f8c8d;

  --light-blue: #3498db;
  --transparent-light-blue: #3498dbb3;
  --dark-blue: #2980b9;
  --light-red: #e74c3c;
  --dark-red: #c0392b;
  --light-orange: #e67e22;
  --dark-orange: #d35400;

  --tooltip-color: #000000cc;

  --light-text-color: #34495e;
  --dark-text-color: #2c3e50;


  --title-line-height: 1.2;
  --text-line-height: 1.5;
  --h1-font-size: 2em;
  --h1-font-weight: 500;
  --h2-font-size: 1.6em;
  --h2-font-weight: 400;
  --h3-font-size: 1.2em;
  --h3-font-weight: 400;
  --other-fonts-size: 1em;
  --other-fonts-weight: 300;


  --landscape-section-width: 65vw;
  --portrait-section-width: 90vw;


  --tooltip-arrow-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  appearance: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  overscroll-behavior: auto;
}

:focus {
  outline: none;
}

:not(:defined) > * {
  display: none;
}

h1, h2, h3, p, label, input, output, textarea, ::placeholder {
  line-height: var(--title-line-height);
  user-select: none;
  color: var(--dark-text-color);
  text-shadow: 1px 1px 1px var(--shadow-color);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

p, label, input, textarea, ::placeholder, output {
  line-height: var(--text-line-height);
  font-size: var(--other-fonts-size);
  font-weight: var(--other-fonts-weight);
}

::placeholder {
  color: var(--dark-gray);
}

::selection {
  background: var(--light-blue);
}

.uppercase {
  text-transform: uppercase;
}

.underlined {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
  background-color: var(--background-color);
  top: 0;
  left: 0;
}

section {
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  overflow-y: hidden;
  width: var(--landscape-section-width);
  min-height: 100vh;
  justify-content: center;
  position: relative;
  @media only screen and (orientation: portrait), (max-width: 800px) {
    width: var(--portrait-section-width);
  }
}

section .horizontalScrollContainer {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
}

section .horizontalScrollContainerShadow.left {
  content: "";
  width: 10px;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(270deg, transparent 0%, var(--shadow-color) 100%);
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}

section .horizontalScrollContainerShadow.right {
  content: "";
  width: 10px;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(90deg, transparent 0%, var(--shadow-color) 100%);
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}

.sections-separator {
  display: flex;
  flex-direction: column;
  width: var(--landscape-section-width);
  height: auto;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  @media only screen and (orientation: portrait), (max-width: 800px) {
    width: var(--portrait-section-width);
  }
}

.sections-separator .line {
  display: flex;
  height: 2px;
}

.sections-separator .line.inter-sections {
  width: 90%;
  background-color: var(--dark-text-color);
}

.sections-separator .line.inter-projects {
  width: 50%;
  background-color: var(--light-text-color);
}

#projects-title {
  margin-top: 80px;
}

.project-tag {
  display: flex;
  width: auto;
  height: calc(5px + var(--other-fonts-size) + 5px);
  padding: 0 15px;
  align-items: center;
  border-radius: calc((5px + var(--other-fonts-size) + 5px) / 2);
  box-shadow: 2px 2px 1px -1px var(--shadow-color);
  position: absolute;
}

.project-tag p {
  color: var(--white) !important;
  text-shadow: 0 0 0 !important;
}

.project-tag.personal {
  background-color: var(--light-orange);
}

.project-tag.professional {
  background-color: var(--dark-blue);
}

.tooltip,
.info-bubble {
  display: block;
  height: auto;
  padding: 10px 15px;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--tooltip-color);
  backdrop-filter: blur(3px);
  /*box-shadow:  8px 8px 12px -2px var(--shadow-color);*/
  color: var(--white);
  text-align: center;
  position: absolute;
  transition: all 0.15s ease;
  pointer-events: none;
  z-index: 100;
}

.tooltip::after,
.info-bubble::after {
  content: "";
  width: 0;
  height: 0;
  border-width: var(--tooltip-arrow-size);
  border-style: solid;
  border-color: transparent;
  position: absolute;
}

.tooltip h3,
.info-bubble h3 {
  margin-bottom: 5px;
  text-wrap: balance;
  color: var(--white);
  text-shadow: none;
}

.tooltip p,
.info-bubble p {
  line-height: 1.2;
  color: var(--white);
  text-shadow: none;
}

.tooltip.visit-link {
  width: 150px;
  opacity: 1;
  visibility: visible;
  top: -10px;
  transform: translateY(-100%);
  transition: all 0.1s linear;
  @media only screen and (orientation: portrait), (max-width: 800px) {
	top: 50%;
    left: -10px;
	transform: translate(-100%, -50%);
  }
}

.control:hover .tooltip.visit-link,
.control:focus .tooltip.visit-link {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear;
}

.tooltip.visit-link::after {
  border-top: var(--tooltip-arrow-size) solid var(--tooltip-color);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  @media only screen and (orientation: portrait), (max-width: 800px) {
    border-top: var(--tooltip-arrow-size) solid transparent;
    border-bottom: var(--tooltip-arrow-size) solid transparent;
    border-left: var(--tooltip-arrow-size) solid var(--tooltip-color);
	top: 50%;
    right: 0;
    left: unset;
    transform: translate(100%, -50%);
  }
}

.verticalScrollIndicator {
  width: 30px;
  height: 60px;
  border-radius: 15px;
  background-color: var(--tooltip-color);
  backdrop-filter: blur(3px);
  /*box-shadow:  8px 8px 12px -2px var(--shadow-color);*/
  z-index: 100;
  transition: all 0.15s linear;
}

.verticalScrollIndicator::after {
  display: flex;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--white);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: verticalScrollIndicatorAnimation 2s infinite;
}

@keyframes verticalScrollIndicatorAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.75;
  }
  25% {
    top: 30%;
    opacity: 1;
  }
  85% {
    top: 70%;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.horizontalScrollIndicator {
  display: none;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--tooltip-color);
  backdrop-filter: blur(3px);
  /*box-shadow:  8px 8px 12px -2px var(--shadow-color);*/
  z-index: 10;
  transition: all 0.15s linear;
}

.horizontalScrollIndicator::after {
  display: flex;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--white);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: horizontalScrollIndicatorAnimation 2s infinite;
}

@keyframes horizontalScrollIndicatorAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.75;
  }
  25% {
    left: 30%;
    opacity: 1;
  }
  85% {
    left: 70%;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 30px calc((100vw - 80vw) / 2);
  justify-content: center;
  align-items: center;
  line-height: 2em;
  background-color: var(--light-text-color);
  box-shadow: 0px 0px 3px 0 var(--dark-text-color);
  position: relative;
}

footer p {
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 0;
}

a {
  color: var(--white);
}

footer a:hover,
footer a:focus {
  text-shadow: 1px 1px 4px var(--shadow-color);
}

footer a:visited {
  color: var(--white);
}
