:root {
  /*https://colorkit.co/palette/1abc9c-16a085-2ecc71-27ae60-3498db-2980b9-9b59b6-8e44ad-34495e-2c3e50-f1c40f-f39c12-e67e22-d35400-e74c3c-c0392b-ecf0f1-bdc3c7-95a5a6-7f8c8d/*/
  --background-color: #ecf0f1;
  --transparent-background-color: #ecf0f1cc;
  --shadow-color: #7f8c8d;

  --white: #ffffff;
  --light-grey: #bdc3c7;
  --grey: #95a5a6;
  --dark-grey: #7f8c8d;

  --light-blue: #3498db;
  --transparent-light-blue: #3498dbb3;
  --dark-blue: #2980b9;
  --light-red: #e74c3c;
  --dark-red: #c0392b;
  --light-orange: #e67e22;
  --dark-orange: #d35400;

  --tooltip-color: #000000cc;

  --light-text-color: #34495e;
  --dark-text-color: #2c3e50;


  --h1-font-size: 2em;
  --h1-font-weight: 500;
  --h2-font-size: 1.6em;
  --h2-font-weight: 400;
  --h3-font-size: 1.2em;
  --h3-font-weight: 400;
  --other-fonts-size: 1em;
  --other-fonts-weight: 300;

  --landscape-section-width: 65vw;
  --portrait-section-width: 90vw;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  appearance: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  overscroll-behavior: contain;
}

:focus {
  outline: none;
}

h1, h2, h3, p, label, input, output, textarea, ::placeholder {
  line-height: var(--line-height);
  user-select: none;
  color: var(--dark-text-color);
  text-shadow: 1px 1px 1px var(--shadow-color);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

p, label, input, textarea, ::placeholder, output {
  font-size: var(--other-fonts-size);
  font-weight: var(--other-fonts-weight);
}

.uppercase {
  text-transform: uppercase;
}

.underlined {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
  background-color: var(--background-color);
  top: 0;
  left: 0;
}

section {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  width: var(--landscape-section-width);
  height: 100vh;
  justify-content: center;
  -ms-overflow-style: none;  /* Masquer scrollbar sur IE and Edge */
  scrollbar-width: none;  /* Masquer scrollbar sur Firefox */
  position: relative;
  overscroll-behavior: auto;
  @media only screen and (orientation: portrait) {
    width: var(--portrait-section-width);
  }
}

/* Masquer scrollbar sur Chrome, Safari and Opera */
section::-webkit-scrollbar {
  display: none;
}

section h1 {
  text-align: center;
}

section .title {
  margin-bottom: 50px;
}

.tips-message {
  text-align: center;
  font-style: italic;
  color: var(--grey) !important;
  text-shadow: 0 0 0;
}

.horizontalScrollIndicator {
  display: none;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--tooltip-color);
  backdrop-filter: blur(3px);
  box-shadow:  8px 8px 12px -2px var(--shadow-color);
  z-index: 10;
  transition: all 0.15s linear;
}

.horizontalScrollIndicator::after {
  display: flex;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--white);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: horizontalScrollIndicatorAnimation 2s infinite;
}

@keyframes horizontalScrollIndicatorAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.75;
  }
  25% {
    left: 30%;
    opacity: 1;
  }
  85% {
    left: 70%;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 30px calc((100vw - 80vw) / 2);
  justify-content: center;
  align-items: center;
  line-height: 2em;
  background-color: var(--light-text-color);
  box-shadow: 0px 0px 3px 0 var(--dark-text-color);
  position: relative;
}

footer p {
  color: var(--white);
  text-shadow: 0 0 0;
}

a {
  color: var(--white);
}

footer a:hover {
  text-shadow: 1px 1px 4px var(--shadow-color);
}

a:visited {
  color: var(--white);
}
